# Task 3 - END-TO-END DATA SCIENCE PROJECT

DEVELOP A FULL DATA SCIENCE PROJECT, FROM DATA COLLECTION AND PREPROCESSING TO MODEL DEPLOYMENT USING FLASK OR FASTAPI.
DELIVERABLE: A DEPLOYED API OR WEB APP SHOWCASING THE MODEL'S FUNCTIONALITY.

## Step 1: Data Collection

We'll use the Titanic dataset, which contains information about passengers and whether they survived the Titanic disaster.

## Step 2: Data Preprocessing

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [26]:
# Load the dataset
data = pd.read_csv('Titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
# Encode categorical variables
le = LabelEncoder()
# Encoding 'Sex' column to 0 (male) and 1 (female)
data['Sex'] = le.fit_transform(data['Sex'])
# Encoding 'Embarked' column to 0, 1, 2 (C, Q, S)
data['Embarked'] = le.fit_transform(data['Embarked'].astype(str))

In [28]:
# Handle missing values
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

In [30]:
# Drop unnecessary columns
data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [31]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [32]:
# Define features and target
X = data.drop('Survived', axis=1)
y = data['Survived']

In [33]:
# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Display the dimensions of the split data
print(f"Training data shape: {X_train.shape}")
print(f"Test data shape: {X_test.shape}")

Training data shape: (712, 7)
Test data shape: (179, 7)

##  Step 3: Model Building and Evaluation

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [35]:
# Initialize and train the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [36]:
# Accuracy
accuracy = model.score(X_test, y_test)
# Predict on the test set
y_pred = model.predict(X_test)

In [38]:
# Evaluate the model
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8212290502793296
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.88      0.85       105
           1       0.81      0.74      0.77        74

    accuracy                           0.82       179
   macro avg       0.82      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

## Step 4: Save the Model

In [39]:
import pickle
import joblib

# Save the trained model to a file

# Save the trained model as a pickle file
with open('titanic_model.pkl', 'wb') as f:
    pickle.dump(model, f)

print("Model saved as 'titanic_model.pkl'")

Model saved as 'titanic_model.pkl'

In [40]:
# Load the saved model from the pickle file
with open('titanic_model.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

# Sample data for prediction (Replace this with real input data)
sample_data = pd.DataFrame({
    'Pclass': [3],
    'Sex': [1],  # Female (as per encoding)
    'Age': [22],
    'SibSp': [1],
    'Parch': [0],
    'Fare': [7.25],
    'Embarked': [0]  # C (as per encoding)
})

# Predict using the trained model
prediction = loaded_model.predict(sample_data)

print(f"Prediction for sample data: {prediction}")

Prediction for sample data: [0]

In [41]:
# Get the predicted probability
prediction_proba = loaded_model.predict_proba(sample_data)

# Print the probabilities
print(f"Predicted probabilities for survival: {prediction_proba}")

Predicted probabilities for survival: [[0.6675 0.3325]]